html.turbolinks-progress-bar::before {
  background-color: #4582EC !important;
  height: 2px !important;
}

body { padding-top: 100px; }

.title-box {
  z-index: 1200;
  position: fixed;
  text-align: center;
  top: 0px;
  left: 40%;
  width: 20%;
  height: 65px;
}
