<% content_for :page_title, @version.title + " |" %>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2><%= @version.title %></h2>
      <h5 class="text-muted"><%= time_ago_in_words @version.created_at %></h5>
      <% if user_signed_in? %>
      <h6 class="text-right"><%= link_to 'Edit', edit_post_path(@post) %></h6>
      <% end %>
      <hr/>
      <%= @version.content_rich.html_safe %>
    </div>
  </div>
</div>
